.nav-wrapper .nav_tab.active {
    background-color: blue;
    color: white;
}

/* Style the buttons inside the tab */
.nav-wrapper .nav_tab {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin-left: 3px;
    padding: 10px 9px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 5px
}

/* Change background color of buttons on hover */
.nav-wrapper .nav_tab:hover {
    background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
}
.bold_titles{
    font-weight: 600 !important;
    font-size: 1.3em !important;
    padding:8px 0px!important;
}