#headerwrap,.module_row.themify_builder_row.fullwidth.tb_yiyt179.tf_w.tf_clearfix,.module_row.themify_builder_row.fullwidth.tb_mf34266.tf_w.tf_clearfix,.mob-menu-header-holder.mobmenu, .tb_xb6r755,.heading-section {
    display: none;
}
.themify_builder_content-3443 .tb_m7hl352.module_row{
	background-image: none;
	background-color: #fff !important;
}
.themify_builder_content-3443 .tb_5k09353.module_column{
	padding-top:0;
}
.themify_builder_content-3443 .tb_m7hl352.module_row>.builder_row_cover::before{
	background-image: none !important;
}
.themify_builder_content-3443 .tb_m7hl352.module_row{
	padding-top:0;
}